@CHARSET "UTF-8";

#page_body {
	background-color: #BBBBFF;
}

#left_column {
	float: left;
	width: 15%;
	text-align: left;
	padding: 10px;	
}

#left_column_content{
	padding-top: 10px;
	padding-bottom: 10px;
}

#right_column {
	float: left;
	width: 0%;
	text-align: left;
	background-color: blue;
}

#center_column {
	float: left;
	width: 70%;
	text-align: left;
	background-color: #BBBBFF;
	padding: 10px;
	padding-right: 20px;
}

#header {
	background-color: yellow;
	height: 80px;
	text-align: center;
	padding: 3px;
}

#content {
	background-color: #BBBBFF;
	/* padding: 3px; */
}

#footer {
	background-color: orange;
	height: 40px;
	text-align: center;
	padding: 3px;
}

#loggerContainer {
	background-color: #dddddd;
	padding: 0px;
	clear: both;
	width: 98%;
	border: 1px solid black;
	overflow: auto;
	visibility: visible;
	margin-top: 20px;
}

#logger {
	background-color: #dddddd;
	padding: 5px;
	height: 300px;
	border: 1px solid black;
	overflow: auto;
}

#login_LogUserIn,
#calendar_FlexClient,
#user_FlexClient,
#group_FlexClient,
#meetingRequest_FlexClient,
#calendar_Menu,
#user_Menu,
#group_Menu,
#meetingRequest_Menu{
	background-color: #BBBBFF;
}


.userForm,.groupForm {
	margin-bottom: 10px;
}

.error {
	color: red;
	font-weight: bold;
}

/**
 *	form fields
 */
input {
	border: 0px solid red;
	background-color: transparent;
}

textarea {
	border: 1px solid #bbffbb;
	filter: alpha(opacity = 60);
	opacity: 0.6;
}

.disabledInput {
	font-weight: bold;
	font-color: #333333;
}

.enabledInput {
	border-bottom: 1px dotted #444444;
	background-color: white;
	filter: alpha(opacity = 60);
	opacity: 0.6;
	font-color: black;
}

/**
 * lists of
 * users, groups, roles
 */
ul.groupList,ul.userList,ul.rolesList {
	margin: 0px;
	padding: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-bottom: 6px;
}

ul.groupList,ul.userList {
	list-style-type: none
}

ul.groupList li,ul.userList li {
	padding: 3px;
}

.rolesListItem {
	border: 1px dotted;
	display: inline;
	margin-right: 5px;
}

/**
 *	Wrappers
 */
#user_wrapper,#groupDetails_wrapper,#newGroup_wrapper {
	background-color: #BBBBFF;
}

.excludedFromLayout {
	visibility: hidden;
	position: absolute;
}

span .container {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

/**
 * Toggle buttons
 */
.toggleButton {
	border: 2px solid #bbffbb;
	padding: 1px 3px 1px 3px;
	margin-left: 2px;
	margin-right: 2px;
	cursor: pointer;
}

.toggleOn {
	border-style: inset;
}

.toggleOff {
	border-style: outset;
}

/**
 *	buttons
 */
.faceboxButton {
	border: 2px outset #bbffbb;
	padding: 1px 3px 1px 3px;
	cursor: pointer;
}

.faceboxButton:hover {
	border: 1px outset #bbffbb;
	padding: 2px 4px 2px 4px;
}

.faceboxButton:active {
	border: 1px inset #bbffbb;
	padding: 2px 4px 2px 4px;
}

.button {
	cursor: pointer;
	border: 2px outset #bbffbb;
	padding: 1px 3px 1px 3px;
}

.button:hover {
	border: 1px outset #bbffbb;
	padding: 2px 4px 2px 4px;
}

.button:active {
	border: 1px inset #bbffbb;
	padding: 2px 4px 2px 4px;
}

.flexContainer {
	width: 100%;
	height: 100%;
}