body
{
     font: 11px Arial, Helvetica, sans-serif;   
}

ul.breadcrumbs
{
    font: 11px Arial, Helvetica, sans-serif;
    background-image:url('../images/bc_bg.png'); 
    background-repeat:repeat-x;
    height:30px;
    line-height:30px;
    color:#9b9b9b;
    border:solid 1px #cacaca;
    width:100%;
    overflow:hidden;
    margin:0px;
    padding:0px;
}
ul.breadcrumbs li 
{
    list-style-type:none;
    float:left;
    padding-left:5px;
}
ul.breadcrumbs a
{
    height:30px;
    display:block;
    background-image:url('../images/bc_separator.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 15px;
    text-decoration: none;
    color:#454545;
}
.home
{
    border:none;
    margin: 8px 0px;
}
ul.breadcrumbs a:hover
{
	color:#35acc5;
}
ul.breadcrumbs a.last
{
    color:#9b9b9b;
	background:none;
	padding-right: 0px;
}
ul.breadcrumbs a.last:hover
{
	color:#35acc5;
}
ul.breadcrumblist 
{
    line-height:20px;
	margin: 0px;
	padding: 0px;
	/*display:none;*/
	position:absolute;
}
ul.breadcrumblist li
{
    height:20px;
    display:block;
    background-image:url('../images/bc_separator_pre.png'); 
    background-repeat:no-repeat; 
    background-position:left;
    text-decoration: none;
    padding-left: 5px;
    color:#454545;
}
ul.breadcrumblist li .listitem
{
    height:20px;
    display:block;
    background-image:url('../images/bc_separator_post.png'); 
    background-repeat:no-repeat; 
    background-position:right;
    padding-right: 5px;
    text-decoration: none;
    color:#454545;
}
ul.breadcrumblist li a
{
    height:20px;
    display:block;
    background-image:url('../images/bc_bg.png'); 
    background-repeat:repeat-x; 
    background-position:left;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    color:#454545;
}
ul.breadcrumblist li a:hover
{
	color:#35acc5;
}

