/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.label
{
	color: #888;
}
.value
{
	color:black;
}

.detailsForm
{
	padding-bottom:0;
	padding-left:0;
	padding-right:0;
	padding-top:0;
	vertical-gap:0;
}
