{% extends "basic/template.html" %}

{% comment %}
vocabularies.html

Created by Sebastian Kruk.
Copyright (c) 2011, KnowledgeHives sp. z o.o

This file is part of OpenVocabulary.

OpenVocabulary is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OpenVocabulary is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with OpenVocabulary.  If not, see <http://www.gnu.org/licenses/>.

IMPORTANT:
1) In addition to the terms and conditions defined in the GNU Affero 
General Public License you agree to use this software to provide access 
to vocabularies, i.e., thesauri, taxonomies, and such, ONLY through 
a generally available end-point.
2) You will also notify the copyright owners, i.e., Knowledge Hives 
sp. z o.o., via email at info@knowledgehives.com, about the address 
of end-point you have setup using this software.
3) Finally, you need to ensure that the vocabularies managed using this 
software are correctly indexed by the Sindice semantic index service; 
we suggest using semantic sitemap protocol in oder to do so.

See http://opensource.knowledgehives.com/wiki/OpenVocabulary 
for more information
{% endcomment %}

{% load extras %}

{% block page_title %}OpenVocabulary.info | Vocabularies{% endblock %}

{% block page_content %}
	{% for ctx in results  %}
	<div id="unique-entry-id-{{ forloop.counter0 }}" class="blog-entry">
		<h1 class="blog-entry-title"><a href="/vocabularies?uri={{ ctx.uri }}" class="blog-permalink">{{ ctx.label }}</a></h1>
		<div class="blog-entry-date">Type: <span class="blog-entry-category"><a href="/vocabularies?type={{ ctx.type }}">{{ ctx.type|expand_context_type }}</a></span></div>
		<div class="blog-entry-date">Language: <span class="blog-entry-category"><a href="/vocabularies?lang={{ ctx.lang }}">{{ ctx.lang }}</a></span></div>
		<p class="blog-entry-tags">Tags: 
			{% for tag in ctx.tags.all  %}
			<a href="/vocabularies?tag={{ tag.label }}" title="Filter by tag: {{ tag.label }}" rel="tag">{{ tag.label }}</a>{% if not forloop.last %}, {% endif %}
			{% endfor %}
		</p>
		<div class="blog-entry-body">
			{% autoescape off %}{{ ctx.description }}{% endautoescape %}
			{% if ctx.get_root_entries %}
				{% if ctx.roots %}
				<p style="padding-top: 2em;">
				{% if ctx.type == 'tez' %}
					Best way to browse {{ ctx.label }} is by searching for concepts. Here are some examples (click to browse):
				{% else %}
					The top level concepts are (click to browse): 
				{% endif %}
					<ul class="disc">
					{% for entry in ctx.roots  %}
						<li><a href="{{ entry.uri }}" rel="self">{{ entry.label }}</a>{% if not entry|is_native_ov  %} [<a href="/vocabularies/lookup?uri={{ entry.uri }}" rel="self">browse in OV</a>]{% endif %}</li>
					{% endfor %}
					</ul>
					{% if ctx.get_root_entries|length > 10 %}
					<div>
						[{% if page > 0 %}<a href="/vocabularies?uri={{ uri }}&page={{ pagem1 }}">Previous</a>{% else %}Previous{% endif %}]
						[{% if pten < ctx.get_root_entries|length  %}<a href="/vocabularies?uri={{ uri }}&page={{ pagep1 }}">Next</a>{% else %}Next{% endif %}]
					</div>
					{% endif %}
				</p>
				{% endif %}
			{% endif %}
			{% if ctx.info %}
				<hr />
				{% autoescape off %}{{ ctx.info }}{% endautoescape %}
			{% endif %}
		</div>
	</div>
	{% endfor %}
{% endblock %}

{% block page_sidebar %}
	<div id="blog-categories">
		<ul>
			<li><a class="blog-category-link-enabled" title="Show all taxonomies" href="/vocabularies?type=tax">Taxonomy ({% count_by_type "tax" %})</a></li>
			<li><a class="blog-category-link-enabled" href="/vocabularies?type=tez" title="Show all thesauri">Thesaurus ({% count_by_type "tez" %})</a></li>
		</ul>
	</div>
	<div id="blog-archives"></div>
	<ul class="blog-tag-cloud">
		{# list tags #}
		{% for tag in tags %}
			<li><a href="/vocabularies?tag={{ tag }}" title="Filter by tag: {{ tag }}" class="blog-tag-size-{% count_by_tag tag %}" rel="tag">{{ tag }}</a></li>
		{% endfor %}
		{# list languages #}
		{% for lang in langs %}
			<li><a href="/vocabularies?lang={{ lang }}" title="Filter by lang: {{ lang }}" class="blog-tag-size-{% count_by_lang lang %}" rel="tag">{{ lang }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block page_breadcrumbs %}
	<ul>
		<li><a href="/">Welcome</a>&nbsp;>&nbsp;</li>
		<li><a href="/vocabularies">Vocabularies</a>&nbsp;>&nbsp;</li></ul>
		{# add current state #}
{% endblock %}