{% extends "basic/template.html" %}

{% comment %}
welcome.html

Created by Sebastian Kruk.
Copyright (c) 2011, KnowledgeHives sp. z o.o

This file is part of OpenVocabulary.

OpenVocabulary is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

OpenVocabulary is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with OpenVocabulary.  If not, see <http://www.gnu.org/licenses/>.

IMPORTANT:
1) In addition to the terms and conditions defined in the GNU Affero 
General Public License you agree to use this software to provide access 
to vocabularies, i.e., thesauri, taxonomies, and such, ONLY through 
a generally available end-point.
2) You will also notify the copyright owners, i.e., Knowledge Hives 
sp. z o.o., via email at info@knowledgehives.com, about the address 
of end-point you have setup using this software.
3) Finally, you need to ensure that the vocabularies managed using this 
software are correctly indexed by the Sindice semantic index service; 
we suggest using semantic sitemap protocol in oder to do so.

See http://opensource.knowledgehives.com/wiki/OpenVocabulary 
for more information
{% endcomment %}

{% block page_title %}Welcome to OpenVocabulary.info{% endblock %}

{% block page_content %}
	<p>We are happy to present Open Vocabulary, one of <a href="http://opensource.knowledgehives.com/" rel="external">open source projects hosted by Knowledge Hives</a>, which delivers Java API and REST API for managing knowledge organization systems. Since version 2.0 of OpenVocabulary, we also support Python Django API to access our vocabularies.</p>

	<p>Apart from delivering Java/REST/Django API, the goal of Open Vocabulary is to encode in <a href="http://www.w3.org/2004/02/skos/" rel="external">SKOS</a>/<a href="http://www.w3.org/RDF/" rel="external">RDF</a> standard those vocabularies that were not expressed before in RDF or SKOS, or both, before.</p>

	<p>The REST API enables browsing through the vocabulary space following publishing the <a href="http://linkeddata.org/" rel="external">Linked Data</a> guidelines. You can start browsing from <a href="vocabularies/" rel="self" title="Vocabularies">Vocabularies section</a>.</p> 

	<p>If you want to download the SKOS/RDF sources maintained by the Open Vocabulary project, as well as their full text indexes in <a href="http://lucene.apache.org/java/docs/" rel="external">Lucene</a> format, please contact us at <a href="mailto:openvocabulary@knowledgehives.com" rel="self">openvocabulary@knowledgehives.com</a>.</p>
{% endblock %}

{% block page_breadcrumbs %}
<ul><li><a href="./">Welcome</a>&nbsp;>&nbsp;</li></ul>
{% endblock %}