<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SOATest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ccc588">  <td>10/02/18 22:16:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.corrib.jonto.tagging.test.soa.servlet.TaggingServletTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1938822199</td>   <td></td> </tr>
<tr bgcolor="ccc588">  <td>10/02/18 22:16:32</td>   <td>181</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.soa.servlet.TaggingServletTest.doPostTest()">doPostTest</td> 
  <td>main@1938822199</td>   <td></td> </tr>
<tr bgcolor="ccc588">  <td>10/02/18 22:16:32</td>   <td>723</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.soa.servlet.TaggingServletTest.doGetTest()">doGetTest</td> 
  <td>main@1938822199</td>   <td></td> </tr>
<tr bgcolor="ccc588">  <td>10/02/18 22:16:32</td>   <td>757</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.soa.servlet.TaggingServletTest.doPostUpdateTest()">doPostUpdateTest</td> 
  <td>main@1938822199</td>   <td></td> </tr>
<tr bgcolor="ccc588">  <td>10/02/18 22:16:33</td>   <td>932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.soa.servlet.TaggingServletTest.doDeleteTest()">doDeleteTest</td> 
  <td>main@1938822199</td>   <td></td> </tr>
<tr bgcolor="ccc588">  <td>10/02/18 22:16:33</td>   <td>940</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;org.corrib.jonto.tagging.test.soa.servlet.TaggingServletTest.dumpRepo()">&lt;&lt;dumpRepo</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1938822199</td>   <td></td> </tr>
</table>
