<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteClippingTest</td>
<td>deleters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getClippingTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>storeExcerptTest</td>
<td>creators </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>storeCircleROITest</td>
<td>creators </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>storeRectangleROITest</td>
<td>creators </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>org.s3b.multimediatagging.test.db.logic.TermDbLogicTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTermsForTaggingTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteTermTest</td>
<td>deleters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>storeTermTest</td>
<td>creators </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTermTest</td>
<td>getters </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>deleteTaggingTest</td>
<td>deleters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTermsForTaggerTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getClippingsForDocumentTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTermsForDocumentTaggerTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getClippingsForTaggerTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTaggingTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>updateTaggingTest</td>
<td>creators </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>storeTaggingTest</td>
<td>creators </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getClippingForTaggingTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getTermsForDocumentTest</td>
<td>getters </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getClippingsForDocumentTaggerTest</td>
<td>getters </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>org.s3b.multimediatagging.test.soa.servlet.TaggingServletTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>doGetTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>doPostTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>init</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
