<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:12</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:12</td>   <td>94</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.storeTaggingTest()">storeTaggingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="d6a0be">  <td>08/05/22 12:41:13</td>   <td>563</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="d6a0be">  <td>08/05/22 12:41:13</td>   <td>579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.storeExcerptTest()">storeExcerptTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="d6a0be">  <td>08/05/22 12:41:13</td>   <td>610</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.storeRectangleROITest()">storeRectangleROITest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="d6a0be">  <td>08/05/22 12:41:13</td>   <td>688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.storeCircleROITest()">storeCircleROITest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:13</td>   <td>766</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.updateTaggingTest()">updateTaggingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b3f8f6">  <td>08/05/22 12:41:13</td>   <td>1314</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b3f8f6">  <td>08/05/22 12:41:13</td>   <td>1329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.storeTermTest()">storeTermTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:13</td>   <td>1423</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingsForDocumentTaggerTest()">getClippingsForDocumentTaggerTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:13</td>   <td>1439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTaggingTest()">getTaggingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:13</td>   <td>1501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTermsForDocumentTest()">getTermsForDocumentTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:13</td>   <td>1517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingsForTaggerTest()">getClippingsForTaggerTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="d6a0be">  <td>08/05/22 12:41:13</td>   <td>1533</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.getClippingTest()">getClippingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:14</td>   <td>1548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTermsForTaggerTest()">getTermsForTaggerTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:14</td>   <td>1673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingForTaggingTest()">getClippingForTaggingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:14</td>   <td>1736</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTermsForDocumentTaggerTest()">getTermsForDocumentTaggerTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b3f8f6">  <td>08/05/22 12:41:14</td>   <td>1751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.getTermTest()">getTermTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b3f8f6">  <td>08/05/22 12:41:14</td>   <td>1751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.getTermsForTaggingTest()">getTermsForTaggingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:14</td>   <td>1783</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingsForDocumentTest()">getClippingsForDocumentTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="ba8662">  <td>08/05/22 12:41:14</td>   <td>1798</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.deleteTaggingTest()">deleteTaggingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b3f8f6">  <td>08/05/22 12:41:14</td>   <td>1939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.deleteTermTest()">deleteTermTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="d6a0be">  <td>08/05/22 12:41:14</td>   <td>1955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.deleteClippingTest()">deleteClippingTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="db699b">  <td>08/05/22 12:41:12</td>   <td>-47</td> <td title="&gt;&gt;org.s3b.multimediatagging.test.TestInit.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b2b3d5">  <td>08/05/22 12:41:14</td>   <td>2049</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.soa.servlet.TaggingServletTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="b2b3d5">  <td>08/05/22 12:41:14</td>   <td>2189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.soa.servlet.TaggingServletTest.doPostTest()">doPostTest</td> 
  <td>main@25352765</td>   <td></td> </tr>
<tr bgcolor="db699b">  <td>08/05/22 12:41:18</td>   <td>6318</td> <td title="&lt;&lt;org.s3b.multimediatagging.test.TestInit.shutdown()">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25352765</td>   <td></td> </tr>
</table>
