<?xml version="1.0" encoding="UTF-8" ?

<head>
	<script type="text/javascript" src="js/prototype.js"></script>
	<script type="text/javascript" src="js/onload.js"></script>
	
	<link rel="stylesheet" type="text/css" href="css/tree.css"/>
	<link rel="stylesheet" type="text/css" href="css/sidebar.css"/>
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="css/favorites/treeie6.css" />
	<![endif]-->
	<script language="javascript1.3" type="text/javascript" src="js/i18nMessages.js"></script>

</head>
<body>

	<div style="float:left;width:70%">
		<div id="page_loading" style="text-align:center;width:100%;padding:15px;color:rgb(80,80,80)">Loading...<br/><br/><img src="/images/spinner.gif"/></div>
	
		<script type="text/javascript" src="js/items.js">
		</script>
		
			<script type="text/javascript" src="js/favorites/yuiTreeExt/yahoo.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/event.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/animation.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/dom.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/treeview.js"></script>
		
			<script type="text/javascript" src="js/favorites/yuiTreeExt/PersonNode.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/FriendNode.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/DirectoryNode.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/BookmarkNode.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/DiuDirectoryNode.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/SugDirectoryNode.js"></script>
			<script type="text/javascript" src="js/favorites/yuiTreeExt/WebBookmarkNode.js"></script>

			<script type="text/javascript" src="js/favorites/sscf/Globals.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/UIHelper.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/BookmarksTree.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/Clipboard.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/CreateDir.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/BookmarkAdd.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/DescriptionBox.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/FriendAdd.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/Feed.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/main.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/Tooltip.js"></script>

			<script type="text/javascript" src="js/favorites/sscf/sidebar/filter.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/sidebar/recommendations.js"></script>
			<script type="text/javascript" src="js/favorites/sscf/sidebar/foldingBox.js"></script>

			<script type="text/javascript" src="js/favorites/sscf/json.js"></script>

			<script type="text/javascript" src="js/favorites/sscf/Inbox.js"></script>


		<div id="clipboard" class="outBox margin10">
			Clipboard item 
			[<a href="javascript:emptyClipboard()">
				empty
			</a>]
			<br>
			<div id="clipboardItem" class="inBox"></div>
		</div>
	
	
	
	<div id="content">
		<div id="treeContainer">
			<span class="blabel">Bookmarks</span>
			<div id="treeDiv1"></div>
			<div id="addBookmarkDiv">
				<button type="button" onclick="addBookmark()">
					Add to selected directories
				</button>
			</div>
		</div>	
	</div>

	
	<script type="text/javascript">

		var standalone = false;
		var newBookmarkUri = "";
		var dir = "";
		var viewer = "http://service.com/users/0i0udlwn";
		var viewerUid = "0i0udlwn";
		var stritems = {};//;
		var seluri = "";
		
		var addBookmarkType = "web"; 
		
		var serverAddr = 'http://localhost:8080/';
		var contextPath = "";
		
		var addform = false;
		var showAddFormAtNoStandalone = false;
		
		var usersServlet = serverAddr+"users/";

		registerOnLoad(initTree);
		
	</script>
	
		<script>standalone = true;</script>
	
	</div>
	<div style="float:right;width:29%">
		
<div id="filterContainer">	
	<div id="filterContent" class="orangeFrame">
		
		<form id="filterFormInputForm" onsubmit="return false;" method="GET" action="ajaxResults/filterResult2" >
		<div id="filterFormInput">
			
			<input type="text" id="filterFormInputValue" name="filterFormInputValue" class="inputNormSidebar"/>
			<input type="hidden" name="person" id="sidebarPerson" value="http://service.com/users/0i0udlwn"/>
			<input class="submit" src="/images/i18n/go.gif" value="submit" type="image" />
			<a href="javascript:void(0)" id="filterShowAdvanced">Advanced &raquo;</a>
		</div>
		<!-- <div id="filterShowAdv"></div>-->
		<div id="filterFormOptionsBkg">
		<div id="filterFormOptions" >
			<div class="filterAdvOptLabel">mode:
			<select name="filterMode" class="filterFormSelect">
				<option value="ModeSimple">simple</option>
				<option value="ModeOv_tez">tezaurus</option>
				<option value="ModeOv_tag">tags</option>
				<option value="ModeOv_tax">taxonomies</option>
			</select><br/>
			</div>
			<div class="filterAdvOptLabel">type:
			<select name="resourceType" id="resourceType" class="filterFormSelect">
				<option value="">any</option>
				<option value="DIRECTORY">directory</option>
				<option value="BOOKMARK">bookmark</option>
			</select><br>
			</div>
			<div class="filterAdvOptLabel">from:
			<select name="searchType" class="filterFormSelect">
				<option value="MY">my resources</option>
				
				<option value="MYNET">my network</option>
			</select>
			</div>
		</div>
		</div>
		</form>
	</div>
	<div id="filterResultsGroup" class="lightblueFrame">
		<div id="filterGroups"></div>
		<div class="filterInfoBkg">
			<div class="filterInfoNifty">
				<div id="filterInfo">&nbsp;</div>
			</div>
		</div>
		<div id="filterResults"></div>
	</div>
</div>


<div style="clear:both"></div>


<script>
var filter = new Filter("filterContainer","filter");

window.onLoad = createShadow("filterContent");
window.onLoad = createShadow("filterResultsGroup");
// round - div#filterFormOptions
// round - div.filterInfoNifty
//IE hack
window.onLoad = $("filterFormOptions").style.display="none";


</script>
		
<div class="widget_style" id="inbox">
	<div class="widget_title">
    	<h2><span id="inboxSwitch"><a href="javascript:void(0);" id="inboxSwitchLink">Inbox<span id="inboxSwitchTextCount"></span><span id="inboxSwitchTextInd">&raquo;</span></a>&nbsp;<a class="rss" href=""><img src="/images/rss.png" border="0"/></a></span></h2>
	</div>
	
	<div class="widget_content">
		<div id="inboxDiv" class="darkerblueFrame">
			<div class="recomInfoNifty">
				<div id="inboxInfo">&nbsp;</div>
			</div>
			<div id="inboxDivIn"></div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/inboxItems.js"></script>
<script>
var inbox = new Inbox(inboxitems);

window.onLoad = createShadow("inboxDiv");
</script>

<input type="hidden" name="person" id="sidebarPerson" value="http://service.com/users/0i0udlwn"/>

<div class="widget_style" id="recom">
	<div class="widget_title">
    	<h2><span id="recomSwitch"><a href="javascript:void(0);" id="recomSwitchLink">Your recommendations<span id="recomSwitchTextCount"></span><span id="recomSwitchTextInd">&raquo;</span></a>&nbsp;<a class="rss" href=""><img src="/images/rss.png" border="0"/></a></span></h2>
	</div>
	
	<div class="widget_content">
		<div id="recomContainer">
			<div id="recomContent" >
				<div id="recomCapt" >
					<div id="recomContentInfo">&nbsp;</div>
				</div>
			</div>
			<div id="recomResultsGroup" class="darkerblueFrame">
				<div id="recomGroups"></div>
				<div class="recomInfoBkg">
					<div class="recomInfoNifty">
						<div id="recomInfo">&nbsp;</div>
					</div>
				</div>
				<div id="recomResults"></div>
			</div>
		
			<div style="clear:both"></div>
		</div>
	</div>
</div>

<div>
Checkboxes:<br>
<a href="javascript:switchCheckboxesDemo(true)">Turn on checkboxes</a><br>
<a href="javascript:switchCheckboxesDemo(false)">Turn off checkboxes</a>

</div>


<script> 
//moved to the initTree method.
//var recom = new Filter("recomContainer","recom");

window.onLoad = createShadow("recomResultsGroup");
// round - "div.recomInfoNifty"

</script>
		
	
	<div class="horizon">
		<div id="illegal" class="contentMes">Operation illegal. Possible loop.<br><br>
		[<a href="javascript:showHideMes(10,false)">Close</a>]
		</div>
	</div>
	
	
	<div id="dirDescIn" class="infoBox">
		Directory description
		<br>
		<div id="dirDescCont" class="inBox">Loading...</div>
	</div>
	
	<div id="addFriendCont" class="shadowyBox" style="display:none;width:600px;">
		Add friend
		<br>
		<div class="inBox">
			<div id="addFriendForm" style="visibility:hidden;display:none">
			<table  width="300" cellpadding="1" cellspacing="0" border="0">
				<tr class="tableNormOut" >
					<td class="capt">Friend's name </td>   
					<td><span id="addFriendName"></span></td>
					<td></td>
				</tr>
				<tr class="tableNormOut">
					<td class="capt">Friendship level<br>(from 0% to 100%)</td>   
					<td><input class="inputNorm" style="width:50px" type="text" id="addFriendLevel"></td>
					<td id="addFriendLevelInfo" class="errorText"></td>
				</tr>
			</table>
			</div>
			<div id="addFriendInfo"  style="visibility:hidden;display:none">
			<table  width="300" cellpadding="1" cellspacing="0" border="0">
				<tr class="tableNormOut" >
					<td><span id="addFriendInfoName"></span> is your friend<br>	
						<span id="addFriendInfoText"></span>
					</td>
				</tr>
			</table>
			</div>
		</div>
		<button type="button" id="addFriendSaveBut" onclick="addFriend();">Save</button>
		<button type="button" id="addFriendCloseBut">Close</button>
	</div>
	</div>
	<div style="clear:both"></div>

</body>