
.inboxSelected {
	font-weight: bold;
}

.inputNormSidebar {
	width: 250px;
	background-color: rgb(250,250,250);
	border: 1px rgb(0,0,0) solid;	
	/*border-bottom: 2px rgb(200,200,200) solid;*/
	padding: 2px;
}
.inputNormSidebarError {
	width: 150px;
	background-color: rgb(245,245,245);
	border: 1px red solid;	
	border-bottom: 2px red solid;
	padding: 2px;
}
.inputSidebarNorm:hover {
	background-color: rgb(255,255,255);
	border: 1px rgb(50,50,50) solid;	
	/*border-bottom: 2px rgb(50,50,50) solid;*/
}

#filterContainer {
	
}

.orangeFrame {
	padding:9px;
	position: relative;
	/*z-index:1000000;*/
}

.orangeFrame .left,
.orangeFrame .right,
.orangeFrame .center {
	position: absolute;	
}

.orangeFrame .shadow-top .left,
.orangeFrame .shadow-top .right,
.orangeFrame .shadow-bottom .left,
.orangeFrame .shadow-bottom .right {
	width: 9px;
	height: 9px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.orangeFrame .shadow-top .center,
.orangeFrame .shadow-bottom .center {
	height: 9px;
	right: 9px;
	left: 9px;
	background-repeat: repeat-x;
}

.orangeFrame .shadow-middle div {
	width: 9px;
	bottom: 9px;
	top: 9px;
	background-repeat: repeat-y;	
}

.orangeFrame .shadow-top div { top: 0; }
.orangeFrame .shadow-bottom div { bottom: 0; }

.orangeFrame .left { left: 0; }
.orangeFrame .right { right: 0; }

.orangeFrame .shadow-top .left { background-image: url(/images/sidebar/tl.png); }
.orangeFrame .shadow-top .right { background-image: url(/images/sidebar/tr.png); }
.orangeFrame .shadow-bottom .left { background-image: url(/images/sidebar/bl.png); }
.orangeFrame .shadow-bottom .right { background-image: url(/images/sidebar/br.png); }
.orangeFrame .shadow-top .center { background-color:rgb(200,200,200); }
.orangeFrame .shadow-bottom .center { background-color:rgb(200,200,200); }
.orangeFrame .shadow-middle .left { background-color: rgb(200,200,200); }
.orangeFrame .shadow-middle .right { background-color:rgb(200,200,200); }

#filterContainer .orangeFrame{
	width:100%;
	
	/*height:400px;*/
	/*background-color:;*/
	/*border-bottom: rgb(0,146,0) 1px solid;*/
	text-align: center;
	font-size: 12px;
	font-weight: normal;
	padding:9px;
	position: relative;	
	
}

#filterContainer .orangeFrame input.button {
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	padding-right:5px;
	font-weight:bold;
	
	background:url(/images/buttonbk.gif) repeat-x scroll left top;	
}

#filterContainer .orangeFrame a {
	font-size: 11px;
	font-weight: normal;
	color: black;
	text-decoration:none;
	border-bottom: rgb(50,50,50) 1px  dotted;
}

#filterContainer .orangeFrame a:hover {
	border-bottom: black 1px  solid;
	text-decoration:none;
}

.lightblueFrame {
	padding:9px;
	position: relative;
	
	/*z-index:1000000;*/
}

.lightblueFrame .left,
.lightblueFrame .right,
.lightblueFrame .center {
	position: absolute;	
}

.lightblueFrame .shadow-top .left,
.lightblueFrame .shadow-top .right,
.lightblueFrame .shadow-bottom .left,
.lightblueFrame .shadow-bottom .right {
	width: 9px;
	height: 9px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.lightblueFrame .shadow-top .center,
.lightblueFrame .shadow-bottom .center {
	height: 9px;
	right: 9px;
	left: 9px;
	background-repeat: repeat-x;
}

.lightblueFrame .shadow-middle div {
	width: 9px;
	bottom: 9px;
	top: 9px;
	background-repeat: repeat-y;	
}

.lightblueFrame .shadow-top div { top: 0; }
.lightblueFrame .shadow-bottom div { bottom: 0; }

.lightblueFrame .left { left: 0; }
.lightblueFrame .right { right: 0; }

.lightblueFrame .shadow-top .left { background-image: url(/images/sidebar/tlbl.png); }
.lightblueFrame .shadow-top .right { background-image: url(/images/sidebar/trbl.png); }
.lightblueFrame .shadow-bottom .left { background-image: url(/images/sidebar/blbl.png); }
.lightblueFrame .shadow-bottom .right { background-image: url(/images/sidebar/brbl.png); }


.darkerblueFrame {
	padding:9px;
	position: relative;
	
	/*z-index:1000000;*/
}

.darkerblueFrame .left,
.darkerblueFrame .right,
.darkerblueFrame .center {
	position: absolute;	
}

.darkerblueFrame .shadow-top .left,
.darkerblueFrame .shadow-top .right,
.darkerblueFrame .shadow-bottom .left,
.darkerblueFrame .shadow-bottom .right {
	width: 9px;
	height: 9px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.darkerblueFrame .shadow-top .center,
.darkerblueFrame .shadow-bottom .center {
	height: 9px;
	right: 9px;
	left: 9px;
	background-repeat: repeat-x;
}

.darkerblueFrame .shadow-middle div {
	width: 9px;
	bottom: 9px;
	top: 9px;
	background-repeat: repeat-y;	
}

.darkerblueFrame .shadow-top div { top: 0; }
.darkerblueFrame .shadow-bottom div { bottom: 0; }

.darkerblueFrame .left { left: 0; }
.darkerblueFrame .right { right: 0; }

.darkerblueFrame .shadow-top .left { background-image: url(/images/sidebar/tlbd.png); }
.darkerblueFrame .shadow-top .right { background-image: url(/images/sidebar/trbd.png); }
.darkerblueFrame .shadow-bottom .left { background-image: url(/images/sidebar/blbd.png); }
.darkerblueFrame .shadow-bottom .right { background-image: url(/images/sidebar/brbd.png); }


#recomContentInfo {
	height:30px;
	padding-top: 4px;
	color:rgb(80,80,80);
}

#recomContentInvoker {
/*
	background-color:#F7E8D4;
	border:1px solid #F4E0CC;
	font-size:13px;
	margin-top:5px;
	padding:0.5em;
	*/
}

.sidebarContentTitle {	
	color:rgb(0,146,0);
	font-family: Garamond, "Times New Roman", serif;
	font-weight: bold;
	font-size: 16px;
	text-align:center;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	letter-spacing: -1px;
	text-transform: lowercase;
}

#filterTip {
	position: absolute;
	display:none;
	width: 150px;
	border-bottom: 1px solid rgb(220,230,220);
	background-color: rgb(245,245,245);
	color:#404040;
	font-family:Verdana,Arial;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	padding:3px;
	opacity:0.8;
}

#filterTip #filterTipTitle {
	font-weight: bold;
	background-color: rgb(235,235,235);
}

#filterContainer .filterGroup,
#recomContainer .recomGroup  {
	width:100%;
	background-color: rgb(235,235,235);
	border-bottom: solid 1px rgb(150,150,150);
	text-align: left;
	padding-top:2px;
	padding-bottom:2px;
}

#filterGroups,
#recomGroups {
	height: auto;
}

#filterContainer .filterGroup .groupIndicator,
#recomContainer .recomGroup .groupIndicator  {
	/**width:10px;*/
	display: inline;
	font-size: 13px;
}

#filterContainer .filterGroup .filterGroupText,
#recomContainer .recomGroup .recomGroupText {
	color:#404040;
	font-family:Verdana,Arial;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;	
	cursor: pointer;
	display: block;
	padding-left:22px;
	/* little hack to have it inline in blocks with indicator*/
	margin-top:-14px;
}

#filterContainer .filterGroup .filterGroupText a,
#recomContainer .recomGroup .recomGroupText a {
	color:#404040;
	font-family:Verdana,Arial;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;	
	cursor: pointer;
}

#filterContainer .filterGroup .filterGroupText a.filterWNMean,
#recomContainer .recomGroup .recomGroupText a.filterWNMean {
	font-weight:normal;
	text-decoration:none;	
	cursor: pointer;
}

#filterContainer .filterGroup .filterGroupText a:hover,
#recomContainer .recomGroup .recomGroupText a:hover {
	font-weight:bold;
	/*text-decoration:underline;*/	
	cursor: pointer;
}

#filterContainer .filterGroup .filterGroupText a.filterWNMean:hover,
#recomContainer .recomGroup .recomGroupText a.filterWNMean:hover {
	font-weight:normal;
	text-decoration:none;	
	cursor: pointer;
}

#filterContainer #filterResultsGroup
{
	width:100%;	
	display:none;
}
#recomContainer #recomResultsGroup {
	width:89%;	
	display:none;
	margin-left:6%;
	margin-right:5%;
}

#filterContainer #filterResultsGroup a,
#recomContainer #recomResultsGroup a {
	text-decoration: none;
}

#filterContainer #filterResultsGroup a:hover,
#recomContainer #recomResultsGroup a:hover {
	/*text-decoration: underline;*/
}

#filterContainer .filterResult,
#recomContainer .filterResult {
	width:100%;
	text-align: left;
}

.filterInfoBkg {
	background-color: rgb(240,240,240);	
}

.filterInfoNifty {
	height:auto;
	vertical-align: middle;
}

.recomInfoBkg {
	background-color: rgb(230,230,230);	
}

.recomInfoNifty {
	height:auto;
	vertical-align: middle;
}

#filterContainer #filterInfo,
#recomContainer #recomInfo, 
#inboxInfo  {
	color:#404040;
	font-family:Verdana,Arial;
	font-size:12px;
	font-weight:bold;
	padding-top: 2px;
	padding-bottom: 2px;
	height:auto;
	/*background-color: #D3EFF5;*/
	/*border-bottom: rgb(0,146,0) 1px solid;*/
	text-align: center;
	vertical-align: middle;
}

#filterContainer #filterInfo a,
#recomContainer #recomInfo a,
#inboxInfo a {
	text-decoration: none;
}

#filterContainer #filterInfo a:hover,
#recomContainer #recomInfo a:hover,
#inboxInfo a:hover {
	text-decoration: none;
}

#filterContainer .filterResult .filterResultText,
#recomContainer .filterResult .filterResultText {
	color:#404040;
	font-family:Verdana,Arial;
	font-size:12px;
	font-weight:normal;
	text-decoration:none;	
	cursor: pointer;
}

#filterContainer .filterResult .filterShowProgress,
#recomContainer .filterResult .filterShowProgress  {
	color:rgb(110,110,110);
	font-family:Verdana,Arial;
	font-size:10px;
	font-weight:normal;
	font-style: italic;
	padding-left:2px;
}

.clear {
	clear: both;
}

.hideLink {
	width: 50px;
	text-align: center;	
	margin-left:auto;
	margin-right:auto;
	font-size: 11px;
}

.hideLink a {
	font-size: 11px;
}

.link {
	/*/text-decoration: underline;*/
	cursor: pointer;	
}

#filterContainer .filterResult .filterResultTextHover,
#recomContainer .filterResult .filterResultTextHover {
	color:#404040;
	font-family:Verdana,Arial;
	font-size:12px;
	font-weight:normal;
	text-decoration:underline;	
	cursor: pointer;
}

#filterContainer .filterResult .dirf,
#recomContainer .filterResult .dirf {
	background: transparent url(/images/treeview/dir.gif) no-repeat 5px 50%;
	padding:3px;
	padding-left:25px;
}

#filterContainer .filterResult .rec,
#recomContainer .filterResult .rec {
	background: transparent url(/images/treeview/dirr.gif) no-repeat 5px 50%;
	padding:3px;
	padding-left:25px;
}

#filterContainer .filterResult .hex,
#recomContainer .filterResult .hex {
	background: transparent url(/images/treeview/hex.gif) no-repeat 3px 2px;
	padding:3px;
	padding-left:25px;
}

#filterContainer .filterResult .web,
#recomContainer .filterResult .web,
.inboxResource {
	background:transparent url(/images/treeview/web.gif) no-repeat 3px 2px;
	padding:3px;
	padding-left:25px;
}

#filterContainer .filterResult .res,
#recomContainer .filterResult .res {
	background: transparent url(/images/treeview/res.gif) no-repeat 3px 2px;
	padding:3px;
	padding-left:25px;
}

#filterFormOptionsBkg {
	background-color:  rgb(255,170,59);	
}

#filterContainer #filterContent #filterFormOptions {
	color:#404040;
	display:none;
	font-family:Verdana,Arial;
	font-size:10px;
	font-weight:normal;
	text-align: center;
	padding-bottom: 7px;
	padding-top:7px;
	margin:auto;
	background-color:  rgb(210,210,210);	
}

.filterAdvOptLabel {
	width:180px;
	text-align: right;	
	margin-left:auto;
	margin-right:auto;
}	

#filterFormInputForm {
	visibility: hidden;
	
}

#filterFormInput {
	width:100%;
	padding-top: 7px;
	padding-bottom:8px;	
	text-align: center;
	background-color:  rgb(200,200,200);
}

#filterShowAdv {
	background-color:  rgb(200,200,200);
}

.filterFormSelect {
	width:90px;
	margin-right:40px;	
	font-size: 10px;
	
}

#filterFormInputValue {
	width: 150px;	
}

#recomCapt {
	width: 100%;
	text-align: center;
}

#inboxDiv {
	display:none;
	width: 89%;
	margin-left:6%;
	margin-right:5%;
}



.inboxResource {
	border-bottom:1px dotted rgb(150,150,150);	
}

#inboxDivIn {
	width:100%;
	background-color: rgb(230,230,230);
}

.inboxTooltip {
	position:absolute;
	display:none;
	border:1px #FFAA3B solid;	
	background:rgb(245,245,245);
	left:0px;top:0px;
	width:100px;
	z-index: 1000;
}

 .ttInbox, .ttInbox:link, .ttInbox:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 9px;/*0.6em;*/
	font-weight: normal;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	cursor:pointer;
}
 
 .ttInbox:hover, .ttInboxHover  {
 	/*text-decoration: underline;*/
 	font-weight: bold;
 	background-color: #FFAA3B;
 }
 
.ttInboxHover {
 	color: #FFFFFF;
 	font-weight: bold;
 	font-family: Verdana, Arial;
 	font-size: 9px;/*0.6em;*/
 	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
 }
 
.ttInbox a { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: inherit;
	font-size: 9px;/*0.6em;*/
	font-weight: normal;
	/*padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
	cursor:pointer;*/
}
 
 .ttInbox a:hover  {
 	color: #FFFFFF;
 	/*text-decoration: underline;*/
 	font-weight: bold;
 	background-color: #FFAA3B;
 }
 
 

