/* hide vertical scrollbar on IE to quick look-up (fx / ietab) without horizontal shift */
html { overflow-y: hidden } 

.user .infoentry {
	background-image: none !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader("/image/infoback3.png", sizingMethod="scale");	
}

.forshadow .left,
.forshadow .right,
.forshadow .center {
	background: none !important; 
}

.forshadow .shadow-middle div {
	height: expression(
		x = this.parentNode.parentNode.offsetHeight,
		y = parseInt(this.currentStyle.top),
		(x - ((x % 2) ? 1 : 0) - (y * 2)) + 'px'
	)
}

.forshadow .shadow-top .center,
.forshadow .shadow-bottom .center {
	width: expression(
		x = this.parentNode.parentNode.offsetWidth,
		y = parseInt(this.currentStyle.left),
		(x - ((x % 2) ? 1 : 0) - (y * 2)) + 'px'
	)
}

.forshadow .shadow-top .left { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/tl.png", sizingMethod="crop"); }
.forshadow .shadow-top .right { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/tr.png", sizingMethod="crop"); }
.forshadow .shadow-bottom .left { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/bl.png", sizingMethod="crop"); }
.forshadow .shadow-bottom .right { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/br.png", sizingMethod="crop"); }
.forshadow .shadow-top .center { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/t.png", sizingMethod="scale"); }
.forshadow .shadow-bottom .center { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/b.png", sizingMethod="scale"); }
.forshadow .shadow-middle .left { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/l.png", sizingMethod="scale"); }
.forshadow .shadow-middle .right { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="/images/shadow/r.png", sizingMethod="scale"); }