/* Copyright (c) 2006 Yahoo! Inc. All rights reserved. */

.opened {
	/*background-image: url('../images/treeview/selback.png');*/
	background-color:rgb(220,220,220);
	background-repeat: repeat-x;
	background-position: 0 0;
	padding-left:2px;
	padding-right:3px;
}

.openedh {
	padding-left:2px;
	padding-right:3px;
	/*background-image: url('../images/treeview/selback.png');*/
	background-color:rgb(220,220,220);
	background-repeat: repeat-x;
	background-position: 0 0;
}
	
/*========== directory style ==============*/
/* first or middle sibling, no children */
.ygdvtn { background: url(../images/treeview/dtn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
.ygdvtm { background: url(../images/treeview/dtm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygdvtmh { background: url(../images/treeview/dtmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygdvtp { background: url(../images/treeview/dtp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygdvtph { background: url(../images/treeview/dtph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygdvln { background: url(../images/treeview/dln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
.ygdvlm { background: url(../images/treeview/dlm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygdvlmh { background: url(../images/treeview/dlmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygdvlp { background: url(../images/treeview/dlp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygdvlph { background: url(../images/treeview/dlph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/*========== del.icio.us directory style ==============*/
/* first or middle sibling, no children */
.ygddvtn { background: url(../images/treeview/ddtn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
.ygddvtm { background: url(../images/treeview/ddtm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygddvtmh { background: url(../images/treeview/ddtmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygddvtp { background: url(../images/treeview/ddtp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygddvtph { background: url(../images/treeview/ddtph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygddvln { background: url(../images/treeview/ddln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
.ygddvlm { background: url(../images/treeview/ddlm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygddvlmh { background: url(../images/treeview/ddlmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygddvlp { background: url(../images/treeview/ddlp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygddvlph { background: url(../images/treeview/ddlph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }


/*========== SIOC Site style ==============*/
/* first or middle sibling, no children */
.ygssvtn { background: url(../images/treeview/sstn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
.ygssvtm { background: url(../images/treeview/sstm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygssvtmh { background: url(../images/treeview/sstmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygssvtp { background: url(../images/treeview/sstp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygssvtph { background: url(../images/treeview/sstph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygssvln { background: url(../images/treeview/ssln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
.ygssvlm { background: url(../images/treeview/sslm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygssvlmh { background: url(../images/treeview/sslmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygssvlp { background: url(../images/treeview/sslp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygssvlph { background: url(../images/treeview/sslph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/*========== SIOC Forum style ==============*/
/* first or middle sibling, no children */
.ygsfvtn { background: url(../images/treeview/sftn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
.ygsfvtm { background: url(../images/treeview/sftm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygsfvtmh { background: url(../images/treeview/sftmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygsfvtp { background: url(../images/treeview/sftp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygsfvtph { background: url(../images/treeview/sftph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygsfvln { background: url(../images/treeview/sfln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
.ygsfvlm { background: url(../images/treeview/sflm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygsfvlmh { background: url(../images/treeview/sflmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygsfvlp { background: url(../images/treeview/sflp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygsfvlph { background: url(../images/treeview/sflph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/*========== SIOC Post style ==============*/
/* first or middle sibling, no children */
.ygspvtn { background: url(../images/treeview/sptn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* last sibling, no children */
.ygspvln { background: url(../images/treeview/spln.gif) 0 0 no-repeat; width:34px; height:22px; }

/*========== Web Bookmark style ==============*/
/* first or middle sibling, no children */
.ygwbvtn { background: url(../images/treeview/wbtn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* last sibling, no children */
.ygwbvln { background: url(../images/treeview/wbln.gif) 0 0 no-repeat; width:34px; height:22px; }

/*========== Hexagon bookmark style ==============*/
/* first or middle sibling, no children */
.ygmbvtn { background: url(../images/treeview/mbtn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* last sibling, no children */
.ygmbvln { background: url(../images/treeview/mbln.gif) 0 0 no-repeat; width:34px; height:22px; }

/*========== added directory style ==============*/
/* first or middle sibling, no children */
.ygdatn { background: url(../images/treeview/atn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
.ygavtm { background: url(../images/treeview/atm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygavtmh { background: url(../images/treeview/atmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygavtp { background: url(../images/treeview/atp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygavtph { background: url(../images/treeview/atph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygavln { background: url(../images/treeview/aln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
.ygavlm { background: url(../images/treeview/alm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygavlmh { background: url(../images/treeview/almh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygavlp { background: url(../images/treeview/alp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygavlph { background: url(../images/treeview/alph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/*========== suggested directory style ==============*/
/* first or middle sibling, no children */
.ygsvtn { background: url(../images/treeview/stn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
.ygsvtm { background: url(../images/treeview/stm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygsvtmh { background: url(../images/treeview/stmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable */
.ygsvtp { background: url(../images/treeview/stp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygsvtph { background: url(../images/treeview/stph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* last sibling, no children */
.ygsvln { background: url(../images/treeview/sln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
.ygsvlm { background: url(../images/treeview/slm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygsvlmh { background: url(../images/treeview/slmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable */
.ygsvlp { background: url(../images/treeview/slp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygsvlph { background: url(../images/treeview/slph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }

/*========== bookmarks style ==============*/
/* first or middle sibling, no children */
.ygbvtn { background: url(../images/treeview/btn.gif) 0 0 no-repeat; width:34px; height:22px; }

/* first or middle sibling, collapsable */
/*.ygbvtm { background: url(../images/treeview/dtm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* first or middle sibling, collapsable, hover */
/*.ygbvtmh { background: url(../images/treeview/dtmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* first or middle sibling, expandable */
/*.ygbvtp { background: url(../images/treeview/dtp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* first or middle sibling, expandable, hover */
/*.ygbvtph { background: url(../images/treeview/dtph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* last sibling, no children */
.ygbvln { background: url(../images/treeview/bln.gif) 0 0 no-repeat; width:34px; height:22px; }

/* Last sibling, collapsable */
/*.ygbvlm { background: url(../images/treeview/dlm.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* Last sibling, collapsable, hover */
/*.ygbvlmh { background: url(../images/treeview/dlmh.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* Last sibling, expandable */
/*.ygbvlp { background: url(../images/treeview/dlp.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/* Last sibling, expandable, hover */
/*.ygbvlph { background: url(../images/treeview/dlph.gif) 0 0 no-repeat; width:34px; height:22px; cursor:pointer }
*/
/*=== friends style ===*/
/* first or middle sibling, no children */
.ygfvtn { background: url(../images/treeview/fn.gif) 0 0 no-repeat; width:46px; height:29px; }

/* first or middle sibling, collapsable */
.ygfvtm { background: url(../images/treeview/fm.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygfvtmh { background: url(../images/treeview/fmh.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* first or middle sibling, expandable */
.ygfvtp { background: url(../images/treeview/fp.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygfvtph { background: url(../images/treeview/fph.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* last sibling, no children */
.ygfvln { background: url(../images/treeview/fln.gif) 0 0 no-repeat; width:46px; height:29px; }

/* Last sibling, collapsable */
.ygfvlm { background: url(../images/treeview/flm.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygfvlmh { background: url(../images/treeview/flmh.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* Last sibling, expandable */
.ygfvlp { background: url(../images/treeview/flp.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygfvlph { background: url(../images/treeview/flph.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/*=== person style ===*/
/* first or middle sibling, no children */
.ygpvtn { background: url(../images/treeview/pn.gif) 0 0 no-repeat; width:46px; height:29px; }

/* first or middle sibling, collapsable */
.ygpvtm { background: url(../images/treeview/pm.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* first or middle sibling, collapsable, hover */
.ygpvtmh { background: url(../images/treeview/pmh.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* first or middle sibling, expandable */
.ygpvtp { background: url(../images/treeview/pp.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* first or middle sibling, expandable, hover */
.ygpvtph { background: url(../images/treeview/pph.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* last sibling, no children */
.ygpvln { background: url(../images/treeview/pln.gif) 0 0 no-repeat; width:46px; height:29px; }

/* Last sibling, collapsable */
.ygpvlm { background: url(../images/treeview/plm.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* Last sibling, collapsable, hover */
.ygpvlmh { background: url(../images/treeview/plmh.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* Last sibling, expandable */
.ygpvlp { background: url(../images/treeview/plp.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }

/* Last sibling, expandable, hover */
.ygpvlph { background: url(../images/treeview/plph.gif) 0 0 no-repeat; width:46px; height:29px; cursor:pointer }
/* == = others ===*/



/* Loading icon */
.ygtvloading { background: url(../images/treeview/loading.gif) 0 0 no-repeat; width:16px; height:22px; }

/* the style for the empty cells that are used for rendering the depth 
 * of the node */
.ygtvdepthcell { background: url(../images/treeview/vline.gif) 0 0 no-repeat; width:17px; height:22px; }

.ygtvblankdepthcell { width:17px; height:22px; }

/* the style of the div around each node */
.ygtvitem { }  

/* the style of the div around each node's collection of children */
.ygtvchildren { }  
* html .ygtvchildren { height:1%; }

/* TYPOGRAPHY */

#content {
	font-weight: normal;
		
}

/* WITH b all the bookmarks styles. */
.ygbvlabel, .ygbvlabel:link, .ygbvlabel:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #727272;
	font-size: 12px;/*0.8em;*/
	font-weight: normal;
	border-bottom:1px dotted #fff;
}

.ygbvlabel:hover {
 	text-decoration: none;
 	color:#000000;
 	border-bottom:1px dotted #000;
	background-color: rgb(235,235,235);
	font-weight: normal;
 }

/* the style of the text label in ygTextNode */
.ygbvlabelsmall, .ygbvlabelsmall:link, .ygbvlabelsmall:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: inherit;
	font-size: 9px;/*0.6em;*/
	font-weight: normal;
}

.ygbvlabelsmall:hover, .ygbvlabelsmallHover {
 	color: #000000;
 	/*text-decoration: underline;*/
 	font-weight: bold;
 	font-size: 9px;/*0.6em;*/
}

.ygbvlabelcont, .ygbvlabelcont:link, .ygbvlabelcont:visited {
	color:rgb(200,200,200);	
}

.ygbvlabelcontover, .ygbvlabelcontover:link, .ygbvlabelcontover:visited {
	color:rgb(80,80,80);	
}

.ygfvlabelcont, .ygfvlabelcont:link, .ygfvlabelcont:visited {
	color:rgb(255,255,255);	
}

.ygfvlabelcontover, .ygfvlabelcontover:link, .ygfvlabelcontover:visited {
	color:rgb(180,180,180);	
}

/* Highlighted (selected) version */
.ygbvlabelconthigh, .ygbvlabelconthigh:link, .ygbvlabelconthigh:visited {
	color:rgb(200,200,200);	
	background-color: rgb(240,245,240);
}

.ygbvlabelcontoverhigh, .ygbvlabelcontoverhigh:link, .ygbvlabelcontoverhigh:visited {
	color:rgb(80,80,80);
	background-color: rgb(250,252,250);	
}
 
/* with d - all directories styles */
.ygdvlabel, .ygdvlabel:link, .ygdvlabel:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #404040;
	font-size: 12px;/*0.8em;*/
	/*border-bottom:1px dotted #fff;*/
	font-weight: normal;
}

.ygdvlabel:hover {
 	text-decoration: underline;
 	color:#000000;
 	font-weight: normal;
 	/*border-bottom:1px dotted #000;*/

 }
 
 /* with d - all directories styles - smaller for person */
.ygdvlabelsub, .ygdvlabelsub:link, .ygdvlabelsub:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: rgb(80,80,80);
	font-size: 11px;/*0.8em;*/
	font-weight: normal;
	letter-spacing: -1px;
}

.ygdvlabelsubHover {
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 11px;/*0.8em;*/
	font-weight: normal;
	letter-spacing: -1px;	
}	

.ygdvlabelsub:hover,.ygdvlabelsubHover  {
/* 	text-decoration: underline;*/
 	color:#000000;
 	font-weight: normal;
 	border-bottom:1px dotted #808080;
 	/*border-bottom:1px dotted #000;*/
 }

/* the style of the text label in ygTextNode */
.ygdvlabelsmall, .ygdvlabelsmall:link, .ygdvlabelsmall:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: inherit;
	font-size: 9px;/*0.6em;*/
	font-weight: normal;
}

.ygdvlabelcont, .ygdvlabelcont:link, .ygdvlabelcont:visited {
	color:rgb(200,200,200);	
}

.ygdvlabelcontover, .ygdvlabelcontover:link, .ygdvlabelcontover:visited {
	color:rgb(90,90,90);	
}

.ygdvlabelconthigh, .ygdvlabelconthih:link, .ygdvlabelconthigh:visited {
	color:rgb(200,200,200);	
	background-color: rgb(240,245,240);
}

.ygdvlabelcontoverhigh, .ygdvlabelcontoverhigh:link, .ygdvlabelcontoverhigh:visited {
	color:rgb(90,90,90);	
	background-color: rgb(250,252,250);
}

.ygdvlabeltooltip, .ygbvlabeltooltip, .ygtvlabeltooltip {
	position:absolute;
	display:none;
	border:1px #FFAA3B solid;	
	background:rgb(245,245,245);
	left:0px;top:0px;
	width:100px; 
	z-index: 1000;
	/*?? padding-right: 0.5em;*/ 
}


.ygdvlabelsmall:hover, .ygdvlabelsmallHover  {
 	color: #000000;
 	/*text-decoration: underline;*/
 	font-weight: bold;
 }
 
.ygdvlabelsmallHover {
 	color: #000000;
 	font-weight: bold;
 	font-family: Verdana, Arial;
 	font-size: 9px;/*0.6em;*/
 }
 
 
 .smalltt, .smalltt:link, .smalltt:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	font-size: 9px;/*0.6em;*/
	font-weight: normal;
	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
}
 
 .smalltt:hover, .smallttHover  {
 	/*text-decoration: underline;*/
 	font-weight: bold;
 	background-color: #FFAA3B;
 }
 
.smallttHover {
 	font-weight: bold;
 	font-family: Verdana, Arial;
 	font-size: 9px;/*0.6em;*/
 	padding-left:5px;
	padding-top:2px;
	padding-bottom:2px;
 }
 
 .ygpvlabelsmall {
 	color: #000000;
 	font-weight: normal;
 	font-family: Verdana, Arial;
 	font-size: 12px;/*0.6em;*/
 }
 
 .ygpvlabelsmallHover {
 	color: #000000;
 	font-weight: bold;
 	font-family: Verdana, Arial;
 	font-size: 12px;/*0.6em;*/
 }

/* the style of the text label in ygPersonNode */
.ygpvlabel, .ygpvlabel:link, .ygpvlabel:visited { 
	font-weight: bold;
	font-family: Verdana, Arial;
	color: #777777;
	font-size: 14px;/*0.9em;*/
	text-decoration: underline;
}
.ygpvlabel:hover
{ 
	font-weight: bold;
	font-family: Verdana, Arial;
	color: black;
	font-size: 14px; /*0.9em;*/
	text-decoration: none;
	border-bottom:1px dotted #000;
}
/* the style of the text label in ygPersonNode */
.ygfvlabel, .ygfvlabel:link, .ygfvlabel:visited { 
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Arial;
	color: #777777;
	font-size:14px;/*0.9em;*/
}

.ygfvlabelsmall, .ygfvlabelsmall:link, .ygfvlabelsmall:visited { 
	text-decoration: none;
	font-family: Verdana, Arial;
	color: inherit;
	font-size: 9px;/*0.6em;*/
	font-weight: normal;
}

.ygfvlabelsmall:hover, .ygfvlabelsmallHover  {
 	color: #000000;
 	/*text-decoration: underline;*/
 	font-weight: bold;
 }
 
.ygfvlabelsmallHover {
 	color: #000000;
 	font-weight: bold;
 	font-family: Verdana, Arial;
 	font-size: 9px;/*0.6em;*/
 }

div#treeContainer {
	font-weight: bold;
	font-family: Verdana, Arial;
	color: black;
	font-size:14px;
	min-height:180px;
}

div#frTreeInfo {
	font-weight: bold;
	font-family: Verdana, Arial;
	color: rgb(120,120,120);
	font-size:14px;
}

div#frTreeInfo span {
	color: rgb(120,120,120);
	font-size:12px;	
	font-weight: normal
}



.inBox,.outBox, .infoBox {
	font-weight: bold;
	font-family: Verdana, Arial;
	color: black;
	font-size:12px;/*0.9em;*/
}
.inBox {
	font-weight: normal;	
}
.infoBox {
	background-color: white;	
}

.screenMesCont {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 14px;/*0.9em;*/
}
.screenMes {
	text-decoration: none;
	font-weight: bold;
	font-family: Verdana, Arial;
	color: black;
	font-size: 14px;/*0.9em;*/
	text-align: center;
	vertical-align: bottom;
}
#timeout {
	color: red;
	font-weight: normal;
}
#working {
	height: 110px;
    line-height: 70px;	
    font-weight: normal;
}

.inBoxA {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #727272;
	font-size: 9px;/*0.8em;*/
	font-weight: normal;
}
.inBoxA:hover {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: black;
	font-size: 9px;/*0.8em;*/
	font-weight: bold;
}

.inBoxABig {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: black;
	font-size: 12px;/*0.8em;*/
	font-weight: bold;
}
.inBoxABig:hover {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: white;
	background-color: rgb(255,170,59);
	font-size: 12px;/*0.8em;*/
	font-weight: bold;
}

.inBox a,.outBox a {
	font-weight: normal;
	text-decoration: underline;	
	color:#606060;
	font-size: 12px;
}

.inBox a:hover,.outBox a:hover {	
	color:black;
	text-decoration: none;
}

tr.tableSmall, tr.tableSmallOut {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #727272;
	font-size: 9px;/*0.8em;*/
	font-weight: bold;
	padding-top:2px;
}

tr.tableSmallOut:hover {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #727272;
	font-size: 9px;/*0.8em;*/
	font-weight: bold;
	padding-top:2px;
	background-color: rgb(245,245,245);
}

tr.tableNorm, tr.tableNormOut {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #606060;
	font-size: 10px;/*0.8em;*/
	font-weight: normal;
	padding-top:2px;
}

tr.tableNormOut:hover {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #444444;
	font-size: 10px;/*0.8em;*/
	font-weight: normal;
	padding-top:2px;
	background-color: rgb(245,245,245);
}

tr.tableNorm td,tr.tableNormOut td.capt {
	text-align:right;padding-right:5px;width:150px;font-weight:bold
}

tr.tableSmaller, tr.tableSmallerOut {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #808080;
	font-size: 9px;/*0.8em;*/
	font-weight: normal;
	padding-top:2px;
}

tr.tableSmaller a, tr.tableSmallerOut a {
	font-size: 9px;/*0.8em;*/
	font-weight: bold;
}

tr.tableSmallerOut:hover {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #808080;
	font-size: 9px;/*0.8em;*/
	font-weight: normal;
	padding-top:2px;
	background-color: rgb(245,245,245);
}

.wnWord {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #202020;
	font-size: 12px;/*0.8em;*/
	font-weight: bold;
	padding-top:0px;
}

.wnWordDesc {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: #727272;
	font-size: 9px;/*0.8em;*/
	font-weight: normal;
	padding-top:1px;
    font-style: normal;
}

/* LAYOUT */
#ovProps {
	overflow: auto;
	height: 0px;	
}

input.normButton, button.normButton {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px outset #202020;
	color:#000000;
	font-family:Tahoma;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding:2px;
	margin:2px;
	vertical-align:middle;
	cursor: pointer;
}

.inputNorm {
	width: 150px;
	background-color: rgb(250,250,250);
	border: 1px rgb(200,200,200) solid;	
	/*border-bottom: 2px rgb(200,200,200) solid;*/
	padding: 2px;
}
.inputNormError {
	width: 150px;
	background-color: rgb(245,245,245);
	border: 1px red solid;	
	border-bottom: 2px red solid;
	padding: 2px;
}
.inputNorm:hover {
	background-color: rgb(255,255,255);
	border: 1px rgb(50,50,50) solid;	
	/*border-bottom: 2px rgb(50,50,50) solid;*/
}

.textareaNorm {
	width: 150px;
	height: 50px;
	background-color: rgb(250,250,250);
	border: 1px rgb(200,200,200) solid;	
	/*border-bottom: 2px rgb(200,200,200) solid;	*/
	padding: 2px;
}
.textareaNorm:hover {
	background-color: rgb(255,255,255);
	border: 1px rgb(50,50,50) solid;
	/*border-bottom: 2px rgb(50,50,50) solid;	*/
}
.inputNormButton {
	background-color: rgb(245,245,245);
	border: 1px rgb(180,180,180) solid;	
	/*border-bottom: 2px rgb(190,190,190) solid;*/
	padding: 2px;
}
.inputNormButton:hover {
	background-color: rgb(250,250,250);
	border: 1px rgb(50,50,50) solid;	
	/*border-bottom: 2px rgb(50,50,50) solid;*/
	cursor: pointer;
}

#fallBlack {
	float: left;
	left:0pt;top:0pt;margin:0px;padding:0px;
	width:100%;height:500px;	
	position:absolute;
	visibility:hidden;
	/*display: none;*/
	z-index:100;
	text-align: center;	
	opacity: 0.6;
	background-color: rgb(250,255,250);
	filter: alpha(opacity=60);
}

#importBookmarksCont {
	z-index:110;
	top:100px;
	/*left:0px;*/
	position:absolute;
	/*width: 100%;*/
	text-align: center;
	/*visibility: hidden;*/
}
#importBookmarks {
	width: 500px;
	position:relative;
	left: 0px;
	/*visibility: hidden;*/
	margin: 0pt auto;
}



/*.inboxResource {
	background:transparent url(../images/treeview/web.gif) no-repeat 3px 2px;
	padding:3px;
	padding-left:25px;	
}*/

.inboxResourceLink {
	cursor: pointer;
	font-size:12px;
}

.inboxResourceLink:hover, .inboxResourceLinkHover {
	cursor: pointer;
	border-bottom:1px dotted black;
}

.inboxCommand,a.inboxCommand {
	text-decoration: none;
	font-family: Verdana, Arial;
	color: rgb(120,120,120);
	font-size: 9px;/*0.6em;*/
	font-weight: normal;	
	display: inline; 
	cursor: pointer;
}

.inboxCommandHover,.inboxCommand:hover,a.inboxCommand:hover {
/* 	font-weight: bold;*/
 	cursor: pointer;
}
 	
.ygfvlabel:hover
{ 
	margin-left:2px;
}
.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover { 
	margin-left:2px;
}
.ygpvlabel, .ygpvlabel:link, .ygpvlabel:visited { 
	margin-left:2px;
}
.ygpvlabel:hover
{ 
	margin-left:2px;
}
.ygfvlabel, .ygfvlabel:link, .ygfvlabel:visited { 
	margin-left:2px;
}


div#content {
	/*background-color: rgb(230,230,230);
	padding: 5px 30px 30px 30px;*/
}

div#treeContainer {
	/*border-top: 2px dashed rgb(211,239,245);*/	
	width: auto;
	padding: 20px;
	margin:5px;
	/*padding right the same as filterContainer dimension */
	/*position:relative;*/
}



.clear {
	clear: both;
}



.link {
	/*/text-decoration: underline;*/
	cursor: pointer;	
}




#ov_fieldset {
	padding:5px;
}

#ov_place {
	display:none;
	/*opacity:0.0;*/
}

.outBox {
	background-color: rgb(220,220,220);
	border: 1px solid  rgb(255,170,59);
	border-bottom: 2px solid rgb(255,170,59);
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	/*border-top: 2px solid rgb(100,190,100);rgb(211,239,254)*/
	/*visibility: hidden;*/
	/*margin: 10px;*/
}

.margin10 {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.margin6 {
	margin-left: 6px;
	margin-right: 6px;
	margin-bottom: 6px;
}

.inBox {
	background-color:rgb(240,240,240);
	border: 1px rgb(200,200,200) solid;
	border-bottom: 2px rgb(200,200,200) solid;
	padding:2px;	
	margin:0px;	
}	

div#clipboard {		
	width: auto;	
	visibility: hidden;	
}

div#addPageForm {
	visibility: hidden;	
}

div#addPageLink {
	padding-bottom:3px;
}

.tag {
	cursor: pointer;
}

#otherTagsPlace {
	display: none;
}

.addTags .othersTags, 
.addTags .usersTags {
	border: 0px rgb(0,146,0) solid;	
}

.addTags .othersTags .othersTagsLegend, 
.addTags .usersTags .usersTagsLegend {
	border: 0px;	
}

.addTags .othersTags .selected, .addTags .usersTags .selected{
	font-weight: bold;
}

div#clipboardItem {
	
}

div#dirCreation {
	position: absolute;	
	width: 300px;
	visibility:hidden;
	display:none;
}

div#dirDesc {
	position: absolute;
	min-width: 300px;
	left:0px;
	top:0px;
	/*width: 300px;*/
	max-width: 500px;
	display: none;
	visibility: hidden;
}

div#dirDescIn {
	/*display: block;*/
	display: none;
}

/*#dirEditCont {
	/display: none;	
}*/

/*#bookmarkEditCont {
	display: none;	
}*/


#dirDescBut {
	position: relative;
	margin: 0px;
	margin-top: 5px;	
}



div#addFriend {
	position: absolute;
	width: auto;
	left:0px;
	top:0px;
	min-width: 300px;
	max-width: 500px;
	display: none;
	visibility: hidden;
}

.horizon        
{
	color: white;
	background-color: transparent;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0px;
	width: 100%;
	height: 1px;
	overflow: visible;
	visibility: visible;
	display: block;
}
.contentMes   
{
	font-family: Verdana, Geneva, Arial, sans-serif;
	margin-left: -125px;
	position: absolute;
	top: -35px;
	left: 50%;
	width: 250px;
	height: 70px;
	visibility: hidden;
	z-index:10000010;
	padding:10px;
}

#addBookmarkDiv {
	visibility: hidden;
	margin-top: 15px;
}

/*== policy box ==*/
#policyBox {
	/*width: 330px;*/
	position: absolute;
	visibility:hidden;
	display:none;
}


#policyAddButton {
	width: 40px 
}

#policyPersonSelect {
 	width: 120px;
}

#policyAddDist {
	width: 40px 
}

#policyAddOpt {
	width: 50px 

}

#policyAddLevel {
	width: 40px 
}

.errorText {
	color: red;
	font-weight: bold;
}

.SSCFSelectedDirsDivStyle {
	visibility:hidden;
	display:none;
}

.SSCFSelectedDirsDivStyleVisible {
	visibility:visible;
	display:block;
}

.topMenu {
	padding-right:30px;
}

#topMenuCont {
	text-align:right;	
}

#addPageLinkCont {
	padding-bottom: 3px;	
}



.boxTable {
	display: table;
	margin:0px;
	padding:0px;
}

.boxTableRow {
	display: table-row;
	margin:0px;
	padding:0px;
}

.boxTableCell {
	display: table-cell;
	margin:0px;
	padding:0px;
}

/* ==== changes ==== */
.user .changeTitle {
	color: rgb(120,120,120);/*rgb(0,146,0);*/
	font-family: Garamond, "Times New Roman", serif;
	font-weight: bold;
	font-size: 22px;
	text-align:left;
	height: 22px;
	overflow: hidden;
	z-index: 50;
	margin: 0px 0px 0px 0px;
	line-height: 22px;
	letter-spacing: -1px;
	text-transform: lowercase;	
}

.user .changeContent {
	width:600px;
	font-size: 11px;
	padding: 5px 5px 13px 13px;
	background-image: url(/images/favorites/infoback3.png);
	background-repeat: repeat-x;
	background-position: 0 0;
	border-top: 1px solid rgb(200,200,200);	
}

.user .changeContent a {
	color: rgb(0,140,0);
	text-decoration: none;	
	font-weight: normal;
	font-size: 11px;
	border-bottom: 1px dotted rgb(0,140,0);
}

.user .changeContent a:hover {	
	color:white;
	background:rgb(255,170,59)/*rgb(0,146,0)*/;
}

#addPageCont {
	position:fixed;
	top:30px;
	right:30px;
	width: 400px;
	display:none;
	z-index: 1000010;
}


/*.shadow-center {
}

.shadow-bottom {
	background: transparent url(/images/favorites/shadow/bottom.png) repeat-x scroll 0% 50%;
	height:8px;
	align:left;
	display: table-cell;
}

.shadow-right {
	background: transparent url(/images/favorites/shadow/right.png) repeat-y scroll 0px 50px;
	width:8px;
	align:left;
	vertical-align: top;
	display: table-cell;
}

.shadow-top {
	background: transparent url(/images/favorites/shadow/top.png) repeat-x scroll 0% 50%;
	height:8px;
	display: table-cell;
}

.shadow-left {
	background: transparent url(/images/favorites/shadow/left.png) repeat-y scroll 0px 50px;
	width:8px;
	align:right;
	display: table-cell;
}*/

.shadow-corner-br {
	width:8px;
	height: 8px;
	background: transparent url(/images/favorites/shadow/corner-br.png) no-repeat scroll;
	vertical-align: top;
	/*align:left;*/
	display: table-cell;
}

.shadow-corner-bl {
	width:8px;
	height: 8px;
	background: transparent url(/images/favorites/shadow/corner-bl.png) no-repeat scroll;
	vertical-align: top;
	/*align:right;*/
	display: table-cell;
}

.shadow-corner-tl {
	width:8px;
	height: 8px;
	background: transparent url(/images/favorites/shadow/corner-tl.png) no-repeat scroll;
	vertical-align: bottom;
	/*align:right;*/
	display: table-cell;
}

.shadow-corner-tr {
	width:8px;
	height: 8px;
	background: transparent url(/images/favorites/shadow/corner-tr.png) no-repeat scroll;
	vertical-align: bottom;
	/*align:left;*/
	display: table-cell;
}

.forshadow {
	padding: 15px;
	position: relative;
	z-index:1000000;
}

.forshadow .left,
.forshadow .right,
.forshadow .center {
	position: absolute;	
}

.forshadow .shadow-top .left,
.forshadow .shadow-top .right,
.forshadow .shadow-bottom .left,
.forshadow .shadow-bottom .right {
	width: 28px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: 0 0;
}

.forshadow .shadow-top .center,
.forshadow .shadow-bottom .center {
	height: 15px;
	right: 28px;
	left: 28px;
	background-repeat: repeat-x;
}

.forshadow .shadow-middle div {
	width: 15px;
	bottom: 28px;
	top: 28px;
	background-repeat: repeat-y;	
}

.forshadow .shadow-top div { top: 0; }
.forshadow .shadow-bottom div { bottom: 0; }

.forshadow .left { left: 0; }
.forshadow .right { right: 0; }

.forshadow .shadow-top .left { background-image: url(/images/favorites/shadow/tl.png); }
.forshadow .shadow-top .right { background-image: url(/images/favorites/shadow/tr.png); }
.forshadow .shadow-bottom .left { background-image: url(/images/favorites/shadow/bl.png); }
.forshadow .shadow-bottom .right { background-image: url(/images/favorites/shadow/br.png); }
.forshadow .shadow-top .center { background-image: url(/images/favorites/shadow/t.png); }
.forshadow .shadow-bottom .center { background-image: url(/images/favorites/shadow/b.png); }
.forshadow .shadow-middle .left { background-image: url(/images/favorites/shadow/l.png); }
.forshadow .shadow-middle .right { background-image: url(/images/favorites/shadow/r.png); }


#toolTipInfo {
	position: absolute;
	display:none;
	width: 150px;
	border-bottom: 1px solid #E3F7F9;
	background-color: #E3F7F9;
	color:#404040;
	font-family:Verdana,Arial;
	font-size:11px;
	font-weight:normal;
	text-decoration:none;
	padding:3px;
	/*opacity:0.8;*/
	z-index:  1000005
}

#toolTipInfo #toolTipInfoTitle {
	font-weight: bold;
	background-color: #BDEAF1;
}

#toolTipInfo #toolTipInfoContent {
	background-color:#F0FDFE;
	font-style:italic;
}

#toolTipInfo #toolTipInfoContent span.contextname {
	color: gray;
	font-style: normal;	
}

#toolTipInfo #toolTipInfoContent hr {
	height: 1px;	
}

.ovep {
	padding:2px;
	padding-left:5px;
}

a.ov_mean {
	text-decoration: none;
	cursor:help;
}

.importFormRow {
	width:310px;
	margin-left:auto;
	margin-right:auto;
	margin-top:2px;
	text-align: right;	
}

.importFormFileRow {
	text-align: center;
	margin:4px;	
}

#importMessageContent {
	margin:4px;
	padding:3px;
	background-color: rgb(247,247,247);	
}

.importFormFieldLabel {
	width:160px;
	text-align: right;
	padding-right: 5px;
}