/* TextboxList sample CSS */
ul.holder { margin: 0; border: 1px solid #999; overflow: hidden; height: auto !important; height: 1%; padding: 4px 15px 0 5px; }
*:first-child+html ul.holder { padding-bottom: 2px; } * html ul.holder { padding-bottom: 2px; } /* ie7 and below */
ul.holder li { float: left; list-style-type: none; margin: 0 5px 4px 0; }
ul.holder li.bit-box, ul.holder li.bit-input input { font: 11px "Lucida Grande", "Verdana"; }
ul.holder li.bit-box { -moz-border-radius: 6px; -webkit-border-radius: 6px; border-radius: 6px; border: 1px solid #CAD8F3; background: #DEE7F8; padding: 1px 5px 2px; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-input input { width: 150px; margin: 0; border: none; outline: 0; padding: 3px 0 2px; background-color:transparent; } /* no left/right padding here please */
ul.holder li.bit-input input.smallinput { width: 20px; }

form.kosselector, #add { border: 1px solid #999; width: 550px; margin: 50px; padding: 20px 30px 10px; }
form.kosselector ol { font: 11px "Lucida Grande", "Verdana"; margin: 0; padding: 0; }
form.kosselector ol li.input-text { margin-bottom: 10px; list-style-type: none; border-bottom: 1px dotted #999; padding-bottom: 10px; }
form.kosselector ol li.input-text label { font-weight: bold; cursor: pointer; display: block; font-size: 13px; margin-bottom: 10px; }
/*form.kosselector ol li.input-text input { width: 500px; padding: 5px 5px 6px; font: 11px "Lucida Grande", "Verdana"; border: 1px solid #999; }*/
form.kosselector ul.holder { width: 500px; }
li.kosinput ul.holder li.bit-box, 
#apple-list ul.holder li.bit-box { padding-right: 15px; position: relative; } 
#apple-list ul.holder li.bit-input { margin: 0; }
#apple-list ul.holder li.bit-input input.smallinput { width: 5px; }
ul.holder li.bit-hover { background: #BBCEF1; border: 1px solid #6D95E0; }
ul.holder li.bit-box-focus { border-color: #598BEC; background: #598BEC; color: #fff; }
ul.holder li.bit-box a.closebutton { position: absolute; right: 4px; top: 5px; display: block; width: 7px; height: 7px; font-size: 1px; background: url('/images/close.gif'); }
ul.holder li.bit-box a.closebutton:hover { background-position: 7px; }
ul.holder li.bit-box-focus a.closebutton, ul.holder li.bit-box-focus a.closebutton:hover { background-position: bottom; }

/* Autocompleter (was #facebook-auto) */

div.kosauto { display: none; position: absolute; width: 512px; background: #eee; }
div.kosauto .default { padding: 5px 7px; border: 1px solid #ccc; border-width: 0 1px 1px; }
div.kosauto ul { display: none; margin: 0; padding: 0; }
div.kosauto ul li { padding: 5px 12px; margin: 0; list-style-type: none; border: 1px solid #ccc; border-width: 0 1px 1px; font: 11px "Lucida Grande", "Verdana"; }
div.kosauto ul li em { font-weight: bold; font-style: normal; background: #ccc; }
div.kosauto ul li.auto-focus { background: #4173CC; color: #fff; }
div.kosauto ul li.auto-focus em { background: none; }

.selector_inactive { background-image:url(/images/autocomplete/autocomplete_leftcap.gif);   background-position:right center; background-repeat:no-repeat; }
.selector_active   { background-image:url(/images/autocomplete/autocomplete_spinner.gif);   background-position:right center; background-repeat:no-repeat; }
.selector_waitinput{ background-image:url(/images/autocomplete/autocomplete_waitinput.gif); background-position:right center; background-repeat:no-repeat; }

div.label          { text-decoration: underline;  }
div.tipdescription    { font-style: italic; font-size: smaller; }
div.lang           { float: right; }
ul.feed li div.term,
div.info div.term  { padding-left: 25px; background-position:left center; background-repeat:no-repeat; }
div.type_taxonomy  { background-image:url(/images/type_taxonomy.png); }
div.type_thesaurus { background-image:url(/images/type_thesaurus.png); }
div.type_tagging   { background-image:url(/images/type_tagging.png); }
div.type_new       { background-image:url(/images/type_taggingnew.png); }

span.context 	   { font-style: normal; padding-right: 0.5em; }
span.parentLabel   { font-style: normal; cursor: pointer; } 

.bit-box		   { cursor: pointer; }
ul.feed li		   { cursor: pointer; }

ol.pathtoroot li   		{ background-image:url(/images/next.png); background-position:right center; background-repeat:no-repeat;
						  padding-right: 20px; line-height: 17px; cursor: pointer; }
ol.pathtoroot li:hover	{ text-decoration: underline; }
ol.pathtoroot li.last   { background-image:none; }

div.tooltip div.lang 	{ padding-right: 16px; font-size: x-small; }
div.tooltip ol     { list-style-type: none; padding-left: 5px; display: inline; }
div.tooltip ol li  { display: inline; }
div.tooltip        { width: 300px; }
