/*
#Copyright (c) 2009, KnowledgeHives sp. z o.o.

#OpenVocabulary is distributed under BSD license.

#OpenVocabulary has been invented by Sebastian Ryszard Kruk (based on previous work on JOnto project) 

#All rights reserved.

#Redistribution and use in source and binary forms, with or without modification, 
#are permitted provided that the following conditions are met:

#* Redistributions of source code must retain the above copyright notice, 
#this list of conditions and the following disclaimer.
#* Redistributions in binary form must reproduce the above copyright notice, 
#this list of conditions and the following disclaimer in the documentation 
#and/or other materials provided with the distribution and reference 
#to the source code.
#* Neither the name of Sebastian Ryszard Kruk nor Knowledge Hives sp. z o.o. may be used to endorse or 
#promote products derived from this software without specific prior written permission.

#THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
#AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, 
#THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE 
#ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE 
#FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES 
#(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; 
#LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON 
#ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT 
#(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE,
#EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/
ul.waiting {
	background-image: url('./images/waiting.gif');
	background-position: 50px;
	background-repeat: no-repeat;
}

ul.boxy {
/*	border: 1px ridge #005500;	*/
	padding: 0.1em 0.1em 0.1em 0.1em;
	margin: 0.1em 0.1em 0.1em 0.1em;
}

ul.boxy li {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
	
	color: #000000;
	
	/*height: 1.3em;*/

	background-color: #CCCCFF;
	margin: 0em 0em 0.5em 0em;
	padding: 0.15em 0.15em 0.15em 0.15em;
	
	display: list-item;
	top: 0em;
	bottom: 0em;
	right: 0em;
	left: 0em;
	
	list-style-type: none;
	list-style-position: outside;
	
	cursor: default;
	
	/*width: 100%;*/
}

ul.boxy li, ul.boxy a {
	color: black;
	text-decoration: none;
}

ul.boxy li a:hover {
	text-decoration: underline;
}

ul.boxy li.selected {
	background-color: #6b79a5;
	color: white !important;
}

ul.boxy li.selected a {
	color: white;
}

ul.boxy li.selected:hover {
	color: yellow;
}

div.taxonomy-box {
	background-color: #DDDDFF;
	width: 400px;
}

div.accordionHeader {
	padding: 0.1em;
	background-color:#6B79A5;
	position: relative;
	top: 0;
	color: #fff;
}

div.accordionContent {
	overflow: auto;
	font-size: 10pt;
	padding-top:3px;
}

div.headerSelected {
	padding: 0.1em;
	background-color:#63699C;
	position: relative;
	top: 0;
	color: #fff;
}

div.headerHover {
	padding: 0.1em;
	background-color:#63699C;
	position: relative;
	top: 0;
	color: #fff;
}

*.refresh {
	position:relative;
	right:0em;	
	text-align: right;
}

span.goup {
	/*position:relative;
	left:0em;*/
}

span.taxonomytitle {
	font-weight: bold;
	font-size: 1.3em;	
}

span.waiting img{
	height: 1.3em;
}

div.accordionHeader a {
	color: #FFFFFF;	
	text-decoration: none;
}

div.accordionHeader a:hover {
	color: yellow;	
}

.noshow{
	display: none;
}

.elementbutton {
	font-size: 0.8em;
	/*padding-right: 0.5em;*/
	color: #444444;
}

.loadinginfo {
	background-color: red;
	color: white;
	position: absolute;
	padding: 0.2em;
	top: 0em;
	right: 0em;
	font-weight: bold;
	cursor: default;
}

.filteringinfo {
	background-color: red;
	color: white;
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0.2em;
	height: 1.6em;	
	font-size: 1.6em;
	vertical-align: middle;
}

.li_table {
	width:100%;
}

.li_tdleft {
	width:100%;
	margin:0;
	padding:0;
	vertical-align:top;
	/*width:1.5em;*/
}

.li_tdcenter {
	margin:0;
	padding:0;
	vertical-align:top;
	/*white-space:nowrap;*/
	overflow:hidden;
}

.li_tdright {
	width:100%;
	margin:0;
	padding:0;
	vertical-align:middle;
	/*width:10em;*/
	text-align:right;
	white-space:nowrap;
}

.spanmatch {
	display: inline; 
	min-width: 10em;
	text-align: right;
}

.spanmatch2 {
	position:absolute; 
	right:2em; 
	text-align:right;
}

a.tag_set {
	color:black;
	cursor:pointer;
	font-weight:normal;
	text-decoration:none;
}

a.tag_set:hover {
	text-decoration:line-through;	
}

div.jontodiv {
	margin: auto;
	float: left;
}

.noshow {
	display: none;
}

td.headerLeft {
	margin:0;
	padding:0;
	vertical-align:top;
}

td.headerRight {
	margin:0;
	padding:0;
	text-align:right;
	vertical-align:middle;
	white-space:nowrap;
}

table.crTab {
	border: 1px solid black;
	border-collapse: collapse;
	width: 500px;
	float: left;
	margin-left: 10px;
}

th.crHeader {
	background-color: #63699C;
	color: white;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

th.crRelHeader {
	background-color: #CCCCFF;
	font-size:1em;
	font-variant:small-caps;
	font-weight:bold;
	text-align:center;
}

td.crContent {
	height:5em;
	overflow:auto;
	height: 6em;
}

option.crOption {
	overflow:hidden;
}

select.crList {
	width:350px;
}

form.crForm {
	text-align: right;
	padding-right: 10px;
}

div.crBox {
	padding: 0;
	margin: 0;
	overflow: auto; 
	height: 6em;
	background-color: #FFFFFF;
}

div.crBox div {
	padding: 0.15em;
	margin: 0 0 0.5em;
	background-color: #DDDDFF;
	font-family: Verdana, Arial, sans-serif;
	font-size: 10pt;
}

div.crBox a {
	color: black;
	text-decoration: none;
}

div.crBox a:hover {
	text-decoration: underline;
}

div.crBox div.selected {
	background-color: #6b79a5;
	color: white !important;
}

div.crBox div.selected a {
	color: white;
}

.div_tdleft {
	margin:0;
	padding:0;
	vertical-align:top;
}

.div_tdright {
	margin:0;
	padding:0;
	vertical-align:middle;
	text-align:right;
	white-space:nowrap;
}

.div_table {
	width:100%;
}