/* * {margin:0; padding:0}
 body {font:11px/1.5 Verdana, Arial, Helvetica, sans-serif; background:#FFF} */
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}

div.info {
	border-style: solid;
	border-width: 1px;
	border-color: #FFCC4F;
	padding: 0.5em;
	font-size: small;
	z-index: 1001;
	color: black; 
	background-color: #FEFFE4;		
}
.closebut a { color: red; }
.colorbut a:hover { color: white; }
.dirinfo { padding: 0.5em 1.5em 0.5em 0.5em !important; }
.closebut { position: absolute; top: 0px; right: 0px; cursor: pointer; }
