<p><table border="0" bgcolor="#336600" cellpadding="3" cellspacing="0">
<tr>
<td>
<table width="100%" cellpadding="2" cellspacing="0" border="0">
<tr align="center">
<td><font face="sans-serif, Arial, Helvetica" size="2" color="#FFFFFF">Help build the largest human-edited directory on the web.</font></td>
</tr>
<tr bgcolor="#CCCCCC" align="center">
<td><font face="sans-serif, Arial, Helvetica" size="2">
<a href="http://dmoz.org/cgi-bin/add.cgi?where=$cat">Submit a Site</a> -
<a href="http://dmoz.org/about.html"><b>Open Directory Project</b></a> -
<a href="http://dmoz.org/cgi-bin/apply.cgi?where=$cat">Become an Editor</a> </font>
</td></tr>
</table>
</td>
</tr>
</table>