<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestDB</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="717d91">  <td>09/10/19 01:47:11</td>   <td>0</td> <td title="&gt;&gt;org.corrib.jonto.tagging.test.TestInit.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="60c5b0">  <td>09/10/19 01:47:11</td>   <td>43</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.corrib.jonto.tagging.test.db.logic.ClippingDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="60c5b0">  <td>09/10/19 01:47:11</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.ClippingDbLogicTest.storeExcerptTest()">storeExcerptTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="60c5b0">  <td>09/10/19 01:47:11</td>   <td>242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.ClippingDbLogicTest.storeRectangleROITest()">storeRectangleROITest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="c6e1ec">  <td>09/10/19 01:47:11</td>   <td>252</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.corrib.jonto.tagging.test.db.logic.TermDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="c6e1ec">  <td>09/10/19 01:47:11</td>   <td>255</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TermDbLogicTest.storeTermTest()">storeTermTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:11</td>   <td>262</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:11</td>   <td>265</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.storeTaggingTest()">storeTaggingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:11</td>   <td>326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.updateTaggingTest()">updateTaggingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="60c5b0">  <td>09/10/19 01:47:12</td>   <td>592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.ClippingDbLogicTest.storeCircleROITest()">storeCircleROITest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getClippingsForDocumentTest()">getClippingsForDocumentTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>607</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTermsForDocumentTaggerTest()">getTermsForDocumentTaggerTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>616</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTaggingTest()">getTaggingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTaggingsForTaggerTest()">getTaggingsForTaggerTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTermsForDocumentTest()">getTermsForDocumentTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="c6e1ec">  <td>09/10/19 01:47:12</td>   <td>672</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TermDbLogicTest.getTermsForTaggingTest()">getTermsForTaggingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getClippingsForTaggerTest()">getClippingsForTaggerTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTaggingsForDocumentTaggerTest()">getTaggingsForDocumentTaggerTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getClippingForTaggingTest()">getClippingForTaggingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTermsForTaggerTest()">getTermsForTaggerTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>726</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getTaggingsForDocumentTest()">getTaggingsForDocumentTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="c6e1ec">  <td>09/10/19 01:47:12</td>   <td>742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TermDbLogicTest.getTermTest()">getTermTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.getClippingsForDocumentTaggerTest()">getClippingsForDocumentTaggerTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="60c5b0">  <td>09/10/19 01:47:12</td>   <td>763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.ClippingDbLogicTest.getClippingTest()">getClippingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="9a78a0">  <td>09/10/19 01:47:12</td>   <td>769</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TaggingDbLogicTest.deleteTaggingTest()">deleteTaggingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="c6e1ec">  <td>09/10/19 01:47:12</td>   <td>805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.TermDbLogicTest.deleteTermTest()">deleteTermTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="60c5b0">  <td>09/10/19 01:47:12</td>   <td>811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.corrib.jonto.tagging.test.db.logic.ClippingDbLogicTest.deleteClippingTest()">deleteClippingTest</td> 
  <td>main@14369938</td>   <td></td> </tr>
<tr bgcolor="717d91">  <td>09/10/19 01:47:12</td>   <td>860</td> <td title="&lt;&lt;org.corrib.jonto.tagging.test.TestInit.shutdown()">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@14369938</td>   <td></td> </tr>
</table>
