<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DbTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="71a3a4">  <td>08/05/22 12:08:42</td>   <td>0</td> <td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.DbLogicTestsInit.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:42</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:42</td>   <td>172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.storeTaggingTest()">storeTaggingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="dfc5a7">  <td>08/05/22 12:08:43</td>   <td>844</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="dfc5a7">  <td>08/05/22 12:08:43</td>   <td>844</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.storeExcerptTest()">storeExcerptTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="dfc5a7">  <td>08/05/22 12:08:43</td>   <td>876</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.storeRectangleROITest()">storeRectangleROITest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="dfc5a7">  <td>08/05/22 12:08:43</td>   <td>922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.storeCircleROITest()">storeCircleROITest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:43</td>   <td>969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.updateTaggingTest()">updateTaggingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="bcc0bc">  <td>08/05/22 12:08:44</td>   <td>1751</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="bcc0bc">  <td>08/05/22 12:08:44</td>   <td>1767</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.storeTermTest()">storeTermTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>1845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingsForDocumentTaggerTest()">getClippingsForDocumentTaggerTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>1861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTaggingTest()">getTaggingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>1923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTermsForDocumentTest()">getTermsForDocumentTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>1939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingsForTaggerTest()">getClippingsForTaggerTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="dfc5a7">  <td>08/05/22 12:08:44</td>   <td>1955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.getClippingTest()">getClippingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>2127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTermsForTaggerTest()">getTermsForTaggerTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>2142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingForTaggingTest()">getClippingForTaggingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:44</td>   <td>2158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getTermsForDocumentTaggerTest()">getTermsForDocumentTaggerTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="bcc0bc">  <td>08/05/22 12:08:44</td>   <td>2408</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.getTermTest()">getTermTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="bcc0bc">  <td>08/05/22 12:08:45</td>   <td>2471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.getTermsForTaggingTest()">getTermsForTaggingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:45</td>   <td>2486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.getClippingsForDocumentTest()">getClippingsForDocumentTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="70f6d3">  <td>08/05/22 12:08:45</td>   <td>2502</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TaggingDbLogicTest.deleteTaggingTest()">deleteTaggingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="bcc0bc">  <td>08/05/22 12:08:45</td>   <td>2643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.TermDbLogicTest.deleteTermTest()">deleteTermTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="dfc5a7">  <td>08/05/22 12:08:45</td>   <td>2658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.db.logic.ClippingDbLogicTest.deleteClippingTest()">deleteClippingTest</td> 
  <td>main@25383554</td>   <td></td> </tr>
<tr bgcolor="71a3a4">  <td>08/05/22 12:08:45</td>   <td>2721</td> <td title="&lt;&lt;org.s3b.multimediatagging.test.db.logic.DbLogicTestsInit.shutdown()">&lt;&lt;shutdown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25383554</td>   <td></td> </tr>
</table>
