<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>multimediatagging-lib</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="db699b">  <td>08/05/22 12:06:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.soa.servlet.TaggingServletTest.doGetTest()">doGetTest</td> 
  <td>main@12710158</td>   <td></td> </tr>
<tr bgcolor="db699b">  <td>08/05/22 12:06:05</td>   <td>-907</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="org.s3b.multimediatagging.test.soa.servlet.TaggingServletTest.doPostTest()">doPostTest</td> 
  <td>main@12710158</td>   <td></td> </tr>
<tr bgcolor="db699b">  <td>08/05/22 12:06:05</td>   <td>-1298</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;org.s3b.multimediatagging.test.soa.servlet.TaggingServletTest.init()">&gt;&gt;init</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@12710158</td>   <td></td> </tr>
</table>
